/* CSS by Gramkraxor */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400');

/* positioning guide *
#phone * {
	background: linear-gradient(to bottom right, #F002, #0FF2) !important;
}
/**/

#footer {
	font-family: 'Ubuntu Mono', 'Roboto Mono', 'Droid Sans Mono', 'Consolas', monospace;
	font-weight: 400;
	position: fixed;
	z-index: -1;
	bottom: 8px;
	left: 0;
	right: 0;
	color: #404040;
	opacity: 0.5;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}

body:not(.dark) #footer {
	color: #000000;
	opacity: 1;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body * {
	font-family: inherit;
	color:       inherit;
	font-size:   inherit;
	line-height: inherit;
}

body {
	position: relative;
	min-height: 100%;
	font-family: 'Ubuntu Mono', 'Roboto Mono', 'Droid Sans Mono', 'Consolas', monospace;
	margin: 0;
	color: #FFFFFF;
	background: #405060;
	font-size: 16px;
	text-align: center;

	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

body.dark {
	color: #FFFFFF;
	background: #000000;
}

#phone {
	padding: 48px 12px;
	border-radius: 48px;
	position: relative;
	margin: auto;
	border-style: solid;
	border-width: 0;
	background: #102030;
	margin-bottom: 48px;
}

body.dark #phone {
	border-width: 2px;
	background: #000000;
	border-color: #FFFFFF;
}

#btn-phone-home {
	box-sizing: border-box;
	padding: 0;
	position: absolute;
	height: 24px;
	width: 72px;
	bottom: 12px;
	left: calc((360px - 72px) / 2 + 12px);
	border: 2px solid #FFFFFF;
	border-radius: 12px;
}

#btn-phone-home:active {
	background: #FFFFFF;
}

.scr {
	width: 360px;
	height: 640px;
	color: #FFFFFF;
	background: #000000;
	text-align: left;
	position: relative;
	border-radius: 12px;
}

input {
	height: 45px;
	background: 0;
	border: 0;
}

input:hover {
	background: #FFFFFF20;
}

input[type="button"]:active {
	background: #FFFFFF40;
}

input:focus {
	outline: 0;
}

input[type="text"]:focus {
	background: #FFFFFF20;
}

input[type="button"] {
	cursor: pointer;
}

.accent-stripe {
	height: 5px;
	margin: 0;
}

.div-field {
	width: 100%;
	background: 0;
	margin: 0;
	margin-bottom: 24px;
	box-sizing: border-box;
	border-bottom: 2px solid;
}

.lbl-title {
	margin: auto;
	font-size: 48px;
}

#scr-calc  #div-calc-row-7,
#scr-hex   #div-hex-row-5,
#scr-roman #div-roman-row-6 {
	position: absolute;
	bottom: 16px;
	width: 360px;
	text-align: center;
}

#scr-calc  #div-calc-row-7  > input,
#scr-hex   #div-hex-row-5   > input,
#scr-roman #div-roman-row-6 > input {
	font-size: 24px;
	height: 56px;
	width: 120px;
}

#scr-home {
	text-align: center;
	padding: 144px 0 -144px;
}

#scr-home .lbl-title {
	height: 48px;
	text-transform: uppercase;
	margin: 0 auto;
	transform: scaleX(1.125);
	width: calc(100% / 1.125);
}

#scr-home input {
	font-size: 20px;
	display: block;
	margin: auto;
	margin-top: 12px;
	width: 160px;
	height: 36px;
	padding: 0;
}

#scr-home #btn-home-goto-set {
	width:  48px;
	height: 48px;
	background-image: url("../assets/fa-cog.png");
	background-size: 48px;
	background-position: center;
	background-repeat: no-repeat;
}

#btn-calc-home,
#btn-hex-home,
#btn-roman-home,
#btn-set-home {
	background-image: url("../assets/fa-home.png");
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
}

#scr-home #lbl-home-title-1 {
	padding-top: 144px;
}

#scr-home #lbl-home-title-2 {
	margin-bottom: 144px;
}

@keyframes supreme {
	  0% { opacity: 0; }
	100% { opacity: 1; }
}

#scr-home #lbl-home-title-2 > span {
	z-index: -1;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	filter: blur(4px);
	opacity: 0;
	animation-name: supreme;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}


#scr-calc .div-field {
	height: 120px;
	padding: 24px 16px 0;
}

#scr-calc .div-field div {
	font-size: 24px;
	height: 48px;
	text-align: right;
	word-wrap: break-word;
	overflow: hidden;
}

#scr-calc #lbl-calc-answer {
	color: #808080;
}

#scr-calc .div-row {
	width: 100%;
	padding: 0;
	margin: 0;
}

#scr-calc .div-row > input {
	width: 72px;
	height: 64px;
	line-height: 45px;
	margin: 0;
	padding: 0;
	font-size: 32px;
	display: inline;
	vertical-align: middle;
}

#scr-calc #div-calc-row-7 > input {
	height: 56px;
}

#scr-calc #btn-calc-sin,
#scr-calc #btn-calc-cos,
#scr-calc #btn-calc-tan,
#scr-calc #btn-calc-ln,
#scr-calc #btn-calc-log,
#scr-calc #btn-calc-sqrt {
	font-size: 20px;
}

#scr-calc #btn-calc-ans {
	font-size: 28px;
	width: 144px;
}

#div-hex-field {
	height: 144px;
	padding: 12px 16px;
	box-sizing: border-box;
}

#div-hex-field > div {
	height: 30px;
	word-wrap: break-word;
	overflow: hidden;
}

#div-hex-field > div > input {
	height: inherit;
	width: 72px;
	vertical-align: middle;
	padding: 0;
}

#div-hex-field > div > div {
	display: inline-block;
	height: inherit;
	width: 256px;
	text-align: right;
	vertical-align: middle;
}

#scr-hex .div-row > input {
	width:  90px;
	height: 90px;
	margin: 0;
	font-size: 36px;
	padding: 0;
	vertical-align: middle;
}

#scr-hex .hex-unused {
	cursor: initial;
	background: 0;
	color: #404040;
}

#div-roman-field {
	box-sizing: border-box;
	height: 96px;
	padding: 36px 16px 0;
}

#div-roman-field > div {
	display: inline-block;
	width: 140px;
	height: 40px;
	margin: 0;
	vertical-align: middle;
	word-wrap: break-word;
	overflow: hidden;
}

#div-roman-field #lbl-roman-rom {
	text-align: right;
}

#div-roman-field #lbl-roman-converts {
	margin: 0 6px;
	width:  36px;
	height: 36px;
	background-image: url("../assets/fa-arrows-h.png");
	background-size: 36px;
	background-position: center;
	background-repeat: no-repeat;
}

#scr-roman .div-row {
	margin-top: 0;
}

#scr-roman .div-row > input {
	width: 80px;
	height: 80px;
	vertical-align: middle;
	padding: 0;
	font-size: 36px;
}

#scr-roman .div-row #btn-roman-point {
	font-size: 36px;
}

#scr-roman .div-row:not(#div-roman-row-6) > input:nth-child(2),
#scr-roman #btn-roman-point {
	margin-right: 40px;
}

#scr-set .lbl-title {
	text-align: center;
	width: 100%;
	height: 40px;
	padding-top: 40px;
	margin-bottom: 96px;
}

#scr-set input {
	height: 40px;
	font-size: 20px;
}

#scr-set .div-set {
	margin-top: 48px;
	padding: 0 12px;
}

#scr-set .div-set > * {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	box-sizing: border-box;
	padding: 0 12px;
}

#scr-set .div-set > div {
	font-size: 16px;
	color: #C0C0C0;
}

#scr-set .div-set > input {
	float: right;
}

#scr-set #inp-set-rgb {
	width: 120px;
	box-sizing: border-box;
	text-align: right;
}

#scr-set #div-set-cc > input {
	width: 48px;
	box-sizing: border-box;
}
