/* CSS by Gramkraxor */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400');

#footer {
	font-family: 'Ubuntu Mono', 'Roboto Mono', 'Droid Sans Mono', 'Consolas', monospace;
	font-weight: 400;
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	/*opacity: 0.5;*/
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}

body * {
	font-family: inherit;
	color:       inherit;
	font-size:   inherit;
	line-height: inherit;
}

body {
	font-family: 'Ubuntu Mono', 'Roboto Mono', 'Droid Sans Mono', 'Consolas', monospace;
	font-size: 16px;
	line-height: 20px;
	color: #000;
	background-color: #FFF;
	margin: 0;
	padding: 128px 0;
	border-top: 6px solid #090;
}

::selection {
	color: inherit;
	background: #C0C0C0;
}

:focus {
	outline: 0;
}

#bod {
	padding: 16px;
	margin: auto;
}

#eo {
	text-align: center;
}

input {
	box-sizing: border-box;
	border: 0;
	display: inline;
	margin: 0;
	padding: 8px;
	background: 0;
	box-sizing: border-box;
}

input[type='button'] {
	padding: 8px 0;
	cursor: pointer;
	width: 120px;
	max-width: 12.5%;
	margin: 0 24px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	transition: 2s step-start;
}

input[type='button']:hover {
	border-color: #000;
	transition: 0;
}

input[type='button']:active {
	border-color: #090 !important;
	transition: 0;
}

input[type='text'] {
	border-bottom: 1px solid;
	transition: 0.25s;
	border-bottom-color: rgba(0, 0, 0, 0.25);
	width: 384px;
}

input[type='text']:focus {
	border-bottom-color: #000;
}

#title {
	display: block;
	text-align: center;
	margin: 24px;
}

/*
#title::before {
	content: '\2605';
	margin-right: 4px;
	color: #009900;
}
*/

#footer {
	cursor: pointer;
}

body.dark {
	background-color: #000;
}

body.dark * {
	color: #FFF;
}

body.dark input[type='text'] {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

body.dark input[type='text']:focus {
	border-bottom-color: #FFF;
}

body.dark input[type='button'] {
	border-color: rgba(255, 255, 255, 0.25);
}

body.dark input[type='button']:hover {
	border-color: #FFF;
}

@keyframes cycle {
	from { opacity: 0; }
	to   { opacity: 0.125; }
}

body::before {
	content: '';
	display: block;
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	animation: cycle 144s ease-in alternate infinite;
	background-image: url(../assets/stelo.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
