/* CSS by Gramkraxor */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

body,
a {
	font-family: 'Ubuntu Mono', 'Consolas', monospace;
	font-size:   36px;
	line-height: 48px;
	text-decoration: none;
}

body.dark {
	background: #000000;
	color: #FFFFFF;
}

a {
	color: inherit;
}

body {
	text-align: center;
	margin: 128px;
	background: #FFFFFF;
}

#list {
	display: inline-flex;
	flex-direction: column;
	width: initial;
	text-align: left;
}

#list p {
	display: block;
	margin: 16px;
}

/*
::selection {
	color: #000000;
	background: #C0C0C0;
}
*/
