/* CSS by Gramkraxor */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

body,
a {
	font-family: 'Ubuntu Mono', 'Consolas', monospace;
	color: #000000;
	font-size:   36px;
	line-height: 36px;
	text-decoration: none;
}

body {
	text-align: center;
	margin: 128px;
	background: #FFFFFF;
}

::selection {
	color: #000000;
	background: #C0C0C0;
}

@media only screen and (orientation: portrait) {
	
	p {
		width: 75vw;
		text-align: left;
	}
}

@media only screen and (orientation: landscape) {
	
}
