/* CSS by Gramkraxor */

#footer {
	font-family: 'Ubuntu Mono', 'Roboto Mono', 'Droid Sans Mono', 'Consolas', monospace;
	font-weight: 400;
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	opacity: 0.5;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100%;
	font-family: 'Ubuntu Mono', 'Roboto Mono', 'Droid Sans Mono', 'Consolas', monospace;
	color: #000000;
	font-size: 20px;
	line-height: 20px;
	margin: 0;
	background: #FFFFFF;
	text-align: center;
}

body.dark {
	background-color: #000000;
	color: #FFFFFF;
}

#title/*, #footer*/ {
	display: block;
	text-align: center;
	padding: 36px;
}

#title {
	font-family: 'Times New Roman';
	font-size: 36px;
}

#stage {
	border: 1px solid #FFFFFF;
	margin-bottom: 48px;
}

a {
	color: inherit;
	/*text-decoration: none;*/
}

::selection {
	color: inherit;
	background: #C0C0C0;
}
