
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400');

body {
	font-family: 'Ubuntu Mono', 'Roboto Mono', 'Droid Sans Mono', 'Consolas', monospace;
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	
	margin: 0;
	background: #FFFFFF;
}

a {
	color: inherit;
	/*text-decoration: none;*/
}

::selection {
	color: inherit;
	background: #C0C0C0;
}

:focus {
	outline: 0;
}

input {
	box-sizing: border-box;
	border: 0;
	display: inline;
	margin: 0;
	padding: 8px;
	background: 0;
}

#wrapper {
	/*text-align: center;
	margin: auto;
	margin-top: 144px;*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#reset {
	margin: 48px;
	padding: 12px 36px;
	cursor: pointer;
}
	
#board * {
	/*margin: 0;*/
	line-height: 0;
}

.grow,
.mrow {
	display: block;
}

.gbox {
	border-width: 2px;
}

.mbox {
	border-width: 1px;
}

.g {
	border: 6px solid transparent;
	border-radius: 4px;
	margin: 4px;
	padding: 4px;
}

.m {
	width: 48px;
	height: 48px;
}

.gbox,
.mbox {
	display: inline-block;
	border-style: solid;
	border-color: #000000;
	border-right: 0;
	border-bottom: 0;
}

.gbox:first-child,
.mbox:first-child {
	border-left: 0;
}

:first-child > .gbox,
:first-child > .mbox {
	border-top: 0;
}

.x, .x-ish, .o, .o-ish {
	-webkit-mask-size: cover;
	        mask-size: cover;
	-webkit-mask-clip: padding-box;
	        mask-clip: padding-box;
}

.x,
.x-ish .m:hover:not(.o) {
	background: #FF4000;
	-webkit-mask-image: url("../assets/x.svg");
	        mask-image: url("../assets/x.svg");
}

.o,
.o-ish .m:hover:not(.x) {
	background: #0040FF;
	-webkit-mask-image: url("../assets/o.svg");
	        mask-image: url("../assets/o.svg");
}

.x-ish .m:hover:not(.x):not(.o),
.o-ish .m:hover:not(.x):not(.o) {
	opacity: 0.25;
	cursor: pointer;
}

.x > *,
.o > * {
	visibility: hidden;
}

.g.x-ish {
	border-color: #FF4000;
	border-color: #FFA080;
}

.g.o-ish {
	border-color: #0040FF;
	border-color: #80A0FF;
}

.g.nope {
	border-color: transparent;
}

.cat {
	visibility: hidden;
}

@keyframes move {
	0%, 100% {
		border-width: 1.5625vh;
		margin-top: 0;
	}
}