/* CSS by Gramkraxor */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400');

#footer {
	font-family: 'Ubuntu Mono', 'Roboto Mono', 'Droid Sans Mono', 'Consolas', monospace;
	font-weight: 400;
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	opacity: 0.5;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}

body {
	font-family: 'Ubuntu Mono', 'Roboto Mono', 'Droid Sans Mono', 'Consolas', monospace;
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	background: #FFFFFF;
	color: #808080;
	border-color: #808080;
}

body.dark {
	background: #000000;
}

a {
	color: inherit;
	/*text-decoration: none;*/
}

/*
::selection {
	color: inherit;
	background: #C0C0C0;
}
*/

:focus {
	outline: 0;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

#wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#board * {
	line-height: 0;
	box-sizing: content-box;
}

.grow,
.mrow {
	display: block;
}

.g {
	border-style: solid;
	border-color: transparent;
}

#buttons {
	display: block;
}

#buttons > div {
	text-transform: uppercase;
	cursor: pointer;
	border-style: solid;
	display: inline-block;
	text-align: center;
}

#board,
.g {
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

.grow,
.mrow {
	flex: auto;

	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.gbox,
.mbox {
	flex: auto;
}

.gbox {
	position: relative;
}

.g {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.m {
	height: 100%;
	width:  100%;
}

@media only screen and (orientation: portrait) {

	#board {
		width:  100vw;
		height: 100vw;
		max-width:  calc(100vh * 3/4);
		max-height: calc(100vh * 3/4);
		margin-top: auto;
	}

	.g {
		border-radius: calc(100vw * 4/576);
		border-width:  calc(100vw * 4/576);
		margin:        calc(100vw * 4/576);
		padding:       calc(100vw * 4/576);
	}

	.gbox {
		border-width: calc(100vw * 3/576);
	}

	.mbox {
		border-width: calc(100vw * 1/576);
	}

	#buttons {
		margin-top: auto;
		margin-bottom: calc(100vh / 24);
	}

	#buttons > div {
		/*padding: calc(100vw / 24) calc(100vw / 6);*/
		margin:       12px;
		width:        calc(100vw / 4);
		height:       calc(100vw / 8);
		line-height:  calc(100vw / 8);
		font-size:    calc(100vw / 24);
		border-width: calc(100vw / 576);
	}

	#resize,
	#darken {
		max-width: calc(100vw / 8);
	}

	#footer {
		font-size:   calc(100vw / 48);
		line-height: calc(100vw / 48);
	}
}

@media only screen and (orientation: landscape) {

	#board {
		width:  calc(100vh * 2/3);
		height: calc(100vh * 2/3);
		max-width:  576px;
		max-height: 576px;
	}

	.g {
		border-radius: 4px;
		border-width:  4px;
		margin:        4px;
		padding:       4px;
	}

	.gbox {
		border-width: 3px;
	}

	.mbox {
		border-width: 1px;
	}

	#buttons {
		margin-top: 36px;
	}

	#buttons > div {
		/*padding: 12px 48px;*/
		margin:       12px;
		width:        144px;
		height:       42px;
		line-height:  42px;
		font-size:    16px;
		border-width: 1px;
	}

	#resize,
	#darken {
		max-width: 64px;
	}
}

.gbox,
.mbox {
	display: inline-block;
	border-style: solid;
	border-right: 0;
	border-bottom: 0;
}

.gbox:first-child,
.mbox:first-child {
	border-left: 0;
}

:first-child > .gbox,
:first-child > .mbox {
	border-top: 0;
}

.x, .x-ish, .o, .o-ish {
	-webkit-mask-size: cover;
	        mask-size: cover;
	-webkit-mask-clip: padding-box;
	        mask-clip: padding-box;
}

.x,
.x-ish .m:hover:not(.o) {
	background: #FF4000;
	-webkit-mask-image: url('../assets/x.svg');
	        mask-image: url('../assets/x.svg');
}

.o,
.o-ish .m:hover:not(.x) {
	background: #0040FF;
	-webkit-mask-image: url('../assets/o.svg');
	        mask-image: url('../assets/o.svg');
}

.x-ish .m:hover:not(.x):not(.o),
.o-ish .m:hover:not(.x):not(.o) {
	opacity: 0.25;
	cursor: pointer;
}

.x > *,
.o > * {
	visibility: hidden;
}

.g.x-ish {
	border-color: rgba(255, 64, 0, 0.75);
	border-color: #FF4000C0;
}

.g.o-ish {
	border-color: rgba(0, 64, 255, 0.75);
	border-color: #0040FFC0;
}

.g.nope {
	border-color: transparent;
}

.cat {
	visibility: hidden;
}

@keyframes delay-cell {
	0%, 100% {
		background: 0;
		-webkit-mask-image: initial;
		        mask-image: initial;
	}
}

@keyframes delay-content {
	0%, 100% {
		visibility: initial;
	}
}

.g.x,
.g.o,
.g.cat {
	animation: 0.5s delay-cell;
}

.g.x > *,
.g.o > *,
.g.cat > * {
	animation: 0.5s delay-content;
}

#board.x,
#board.o,
#board.cat {
	animation: 1s delay-cell;
}

#board.x > *,
#board.o > *,
#board.cat > * {
	animation: 1s delay-content;
}
