<!doctype html>
<meta charset="utf-8">
<link rel="canonical" href="{{ page.url | absolute_url }}">

{%- if page.title_override %}
<title>{{ page.title_override }}</title>
{% elsif page.title %}
<title>{{ page.title }} - {{ site.title }}</title>
{% endif -%}

{%- if page.desc -%}
<meta name="description" content="{{ page.desc | escape }}">
{% endif -%}

{%- if page.meta_viewport -%}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endif -%}

{%- if page.icon -%}
<link rel="icon" href="{{ '/assets/' | append: page.icon | relative_url }}">
{% endif -%}

{%- for link in page.css -%}
<link rel="stylesheet" href="{{ '/css/' | append: link | append: '.css' | relative_url }}">
{% endfor -%}
<link rel="stylesheet" href="{{ '/lib/font/ubuntu-mono.css' | relative_url }}">

{%- for link in page.js -%}
{%- if link == 'jquery' -%}
<script src="{{ '/lib/jquery.min.js' | relative_url }}"></script>
{% else -%}
<script src="{{ '/js/' | append: link | append: '.js' | relative_url }}"></script>
{% endif -%}
{%- endfor -%}

{%- for link in page.js_defer -%}
<script defer src="{{ '/js/' | append: link | append: '.js' | relative_url }}"></script>
{%- endfor -%}

{{- content -}}
